.Item{
    width: 40%;
    text-align: left;
    border: 1px solid hsl(231, 11%, 63%);
    padding: 20px;
    border-radius: 10px;
    color: hsl(213, 96%, 18%);
    cursor: pointer;
  }
  
  .bill-desc{
    color: hsl(231, 11%, 63%);
  }


  .billIcon{
    margin: 0 0 70px 0;
   width: 100px;
   height: 100px;
  }
    
/* 
  @media only screen and (max-width: 1038px) {
    .Item{
      width: 30%;
      font-size: 15px;

    }

    .billIcon{
      margin: 0 0 70px 0;
     width: 50px;
     height: 50px;
    }
  }
  @media only screen and (max-width: 933px) {
    .Item{
      width: 30%;
      font-size: 15px;

    }

    .billIcon{
      margin: 0 0 70px 0;
     width: 50px;
     height: 50px;
    }
  } */



  @media only screen and (max-width: 1024px) and (min-width: 770px) {

    .Item  {
      width: 90%;
      font-size: 12px;
      padding: 14px;

    }

    .bill-desc{
      
      padding: 12px;

    }
    
    .bill-Discount{
      font-size: 10px;
      font-weight: bold;
    }
  
  
    .billIcon{
      margin: 0 0 30px 0;
     width: 40px;
     height: 40px;
    }
  }
    


  @media only screen and (max-width: 480px) {
    
    
  }