.content-box{
  width: 50%;
  /* border: 1px solid blue; */
  margin: 0 auto;
  padding: 20px;
  position: absolute;
right: 17%;  

}

  .buttons{

    display: flex;
    justify-content: space-between;
  }
  .btn{
    width: 120px;
    height: 50px;
    background-color: transparent;
    color: hsl(231, 11%, 63%);
    font-weight: bold;
    border: none;
    font-size: 17px;
    cursor: pointer;
    
  }
  .next-btn:hover{

    background-color: hsl(213, 96%, 27%);
    border: 1px solid hsl(213, 96%, 27%);
  }
  .next-btn{
    background-color: hsl(213, 96%, 18%);
   
    color: #fff;
    border: 1px solid hsl(213, 96%, 18%);
    border-radius: 8px;
  }
  .Admin-btn{
    background-color: hsl(213, 96%, 18%);
    font-weight: normal;
    width: 180px;
    border-radius: 10px;
    color: #fff;
  }


         
          @media only screen and (max-width: 1024px) and (min-width: 770px) {
            .content-box{
              width: 32%;
              padding: 0;
              right: 15%;  
            }

            .btn{
              width: 100px;
              height: 40px;
            
              
            }
            
            .next-btn{
           
              right: 20px;
            
            }
           
         
          }
          
          @media only screen and (max-width: 768px) {
            
            
          }
          @media only screen and (max-width: 480px) {
            
            
          }