.content-box{
  width: 60%;
  /* border: 1px solid blue; */
  margin: 0 auto;
  padding: 20px;
  position: relative;
}

  .buttons{

    display: flex;
    justify-content: space-between;
  }
  .btn{
    width: 120px;
    height: 50px;
    background-color: transparent;
    color: hsl(231, 11%, 63%);
    font-weight: bold;
    border: none;
    font-size: 17px;
    cursor: pointer;
    
  }
  .next-btn:hover{

    background-color: hsl(213, 96%, 27%);
    border: 1px solid hsl(213, 96%, 27%);
  }
  .next-btn{
    background-color: hsl(213, 96%, 18%);
   position: absolute;
   right: 80px;
    color: #fff;
    border: 1px solid hsl(213, 96%, 18%);
    border-radius: 8px;
  }
  .Admin-btn{
    background-color: hsl(213, 96%, 18%);
    font-weight: normal;
    width: 180px;
    border-radius: 10px;
    color: #fff;
  }

/* 
  @media only screen and (mmax-width: 758px) {
    .content-box{
      width: 45%;
      position: absolute;
      right: 0;
    
    }


    .btn{
      width: 100px;
      height: 40px;
      
      font-size: 17px;
      
    }
      }
       */



/* @media only screen and (max-width: 690px) {
  .content-box{
    padding: 10px;

    position: relative;
  }
.next-btn, .btn{
  position: absolute;
  bottom: -10%;
}

  }



  @media only screen and (max-width: 636px) {
   
  .btn{
    width: 120px;
    height: 30px;
  font-size: 15px;
  position: absolute;
  bottom: -3%;
  margin: 0 -20px;
  }
 
       }
       


  @media only screen and (max-width: 600px) {
   
   .content-box{
    position: absolute;
    top: 20%;
    background-color: #fff;
padding: 20px;
border-radius: 12px;
   }

   .btn{
    width: 123px;
    margin: -35px 0;
   }
         }
          */






         
          @media only screen and (max-width: 1024px) and (min-width: 770px) {
        
            .btn{
              width: 100px;
              height: 40px;
            
              
            }
            
            .next-btn{
           
              right: 20px;
            
            }
           
         
          }
          
          @media only screen and (max-width: 768px) {
            
            
          }
          @media only screen and (max-width: 480px) {
            
            
          }