.sidebar{
  position: absolute;
  top: 17%;
    max-height: 600px;
    height: 80%;
    background-image: url('../assets/images/bg-sidebar-desktop.svg');
    background-repeat: no-repeat;
    background-size: contain;
  }
  
/* 
  @media only screen and (max-width: 750px) {
.sidebar{
 height: 500px;
}
  }
  @media only screen and (max-width: 636px) {
    .sidebar{
     height: 380px;
    }
      }
      

      @media only screen and (max-width: 600px) {
        .sidebar{
          background-image: url('../assets/images/bg-sidebar-mobile.svg');
          background-repeat: no-repeat;
    background-size: contain;
    width: 480px;
    border-radius: 12px;
        }
     
           }
            */



            @media only screen and (max-width: 1024px) and (min-width: 770px) {

              
            }
              
            
            @media only screen and (max-width: 768px) {
              
              
            }
            @media only screen and (max-width: 480px) {
              
              
            }