  @import url('https://fonts.googleapis.com/css2?family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,500;1,700&display=swap');

*{

  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body{

  font-family: 'Ubuntu';
  color: hsl(213, 96%, 18%);
}
.container{

  width: 80%;
  margin: 150px auto;
}
.app{
  width:  100%;
  display: flex;
  gap: 5px;
  align-items: center;
  justify-content: start;
  /* border: 1px solid #000; */
  border-radius: 12px;
  box-shadow: 0px 0px 5px 5px #ebe5e5;
  padding: 0 20px;
  max-height: 670px;
  height: 650px;
  
}


/* 320px — 480px: Mobile devices
481px — 768px: iPads, Tablets
769px — 1024px: Small screens, laptops
1025px — 1200px: Desktops, large screens */



@media only screen and (max-width: 1024px) and (min-width: 770px) {

              .app{
                height: 670px;
              }
}
  


@media only screen and (max-width: 768px) {
  
  
}
@media only screen and (max-width: 480px) {
  
  
}

/* @media only screen and (max-width: 750px) {
  
  .app{
    max-height: 600px;
    height: 560px;
  }
  
}

@media only screen and (max-width: 690px) {
  app{
    max-height: 400px;
    height: 400px;
  }
  

  }

  @media only screen and (max-width: 636px) {
   .app{
    height: 420px;
   }

      }
      

      @media only screen and (max-width: 600px) {
        .app{
         flex-direction: column;
         padding: 0;
         height: 520px;
         background-color:  hsl(207, 53%, 93%);
        }
     
           }
            */